<app-header [title]="art ? art.name : '...'" logo=""></app-header>

<ion-content [fullscreen]="true">
  <div id="container">

    <div class="section">
      
      <div *ngIf="art else errorMessage">
        <ion-card>
          <ion-card-header>
            <ion-card-title>
              <ion-text>
                {{art.name}} 
              </ion-text>
            </ion-card-title>
          </ion-card-header>
          <ion-card-content>

            <p>A {{art.location}}</p>
            <p> <img [src]="art.image" alt="Street art preview"> </p>

          </ion-card-content>
        </ion-card>
      </div>

      <ng-template #errorMessage>
        <ion-text color="danger"> {{errorMessage}} </ion-text>
      </ng-template>

    </div>

  </div>
  
</ion-content>
