<ion-tabs class="ion-no-border">

  <ion-tab-bar slot="bottom">

    <ion-tab-button tab="home">
      <ion-icon name="home-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="arts">
      <ion-icon name="image-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="favorite">
      <ion-icon name="heart-outline"></ion-icon>
    </ion-tab-button>
    
    <ion-tab-button tab="new">
      <ion-icon name="add-circle-outline"></ion-icon>
    </ion-tab-button>

  </ion-tab-bar>

</ion-tabs>
